.background{
    background-image: url("../../src/assets/images/background.png");
    height: 100vh;
   
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}