* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(27, 9, 58, 0.5);
    border: 1px solid rgba(223, 223, 223, 0.5);
    backdrop-filter: blur(25px);
    padding: 20px 50px;
    box-shadow: 0 1px 10px;
    border-radius: 0 0 15px 15px;
}

#Navigation-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Navigation-items li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#Navigation-items li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;

}

#Navigation-items li a:hover, #Navigation-items li a:active {
    color: #fff;
}

#Navigation-items li a:hover::after,
#Navigation-items li a.active::after {
    content: "";
    width: 60%;
    height: 3px;
    background: #fff;
    position: absolute;
    border-radius: 3px;
    bottom: -4px;
    left: 20px;
}

#Navigation-mobile i {
    color: #000;
}

#Navigation-mobile {
    display: none;
}

@media screen and (max-width:769px) {
    #Navigation-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -40%;
        width: 40%;
        height: 100vh;
        background: #cecece;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #Navigation {
        padding: 20px 40px;
    }

    #Navigation-items.active {
        right: 0px;
    }

    #Navigation-items li {
        margin-bottom: 25px;
    }

    #Navigation-mobile {
        display: block;
    }

    #Navigation-mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}

@media screen and (max-width:458px) {
    #Navigation-items {
        right: -80%;
        width: 80%;
    }
}