*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 80px;
    box-shadow: 0 1px 10px ;
    border-radius: 0 0 15px 15px;

}


#Navigation-items{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}


#Navigation-items li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}


#Navigation-items li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color:#000;
    transition: 0.3s ease-in-out;

}

#Navigation-items li a:hover,#Navigation-items li a:active{
    color:#17cf97

}


#Navigation-items li a:hover::after ,
#Navigation-items li a.active::after{
    content: "";
    width: 30%;
    height: 3px;
    background: #17cf97;
    position: absolute;
    border-radius: 3px;
    bottom: -4px;
    left: 20px;
}

#Navigation-mobile i {
    color: #fff;
}


#Navigation-mobile{
    display: none;
}


@media screen  and (max-width:769px){
    #Navigation-items{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;


    }
    
    #Navigation-items.active{
        right: 0px;
    }

    #Navigation-items li{
        margin-bottom: 25px;

    }
    #Navigation-mobile{
        display: block;
    }


    #Navigation-mobile i{
        font-size: 24px ;
        cursor: pointer;
    }

    
}